<template>
    <modal-component @close="close" ref="modal">
        <form @submit.prevent="apply">
            <h4 class="mb-3">Встраиваемое содержимое</h4>
            <div class="input mb-3">
                <input required v-model="d_html" v-input>
                <label>Код для встраивания</label>
            </div>
            <button class="btn btn_primary" type="submit">Применить</button>
        </form>
    </modal-component>
</template>

<script>
    import ModalComponent from "@/js/common/components/ModalComponent";
    import {updateMark, removeMark} from 'tiptap-commands'

    export default {
        name: "IframeModal",
        components: {ModalComponent},
        props: ['editor', 'updateAttrs'],
        data() {
            let html = null;
            try {
                html = this.editor.state.selection.node.attrs.html;
            } catch (e) {
            }
            return {
                d_html: html,
            }
        },
        methods: {
            apply() {
                const attrs = {
                    html: this.d_html,
                };
                this.editor.commands.iframe(attrs);
                this.$refs.modal.close();
            },
            remove() {
                this.editor.commands.iframe({});
                this.$refs.modal.close();
            },
            close() {
                this.$destroy();
                if (this.$el.parentNode)
                    this.$el.parentNode.removeChild(this.$el)
            }
        }
    }
</script>

<style scoped>

</style>
