<template>
    <div class="app">
        <sidebar :editor="d_editor"/>
        <canvas-component :editor="d_editor"/>
    </div>
</template>

<script>
    import Sidebar from "./sidebar/Sidebar";
    import CanvasComponent from "./CanvasComponent";
    import LayoutConstructor from "../custom/layoutConstructor";

    export default {
        name: "App",
        components: {CanvasComponent, Sidebar},
        mounted() {
            console.log('base app loaded');
        },
        data() {
            return {
                // LayoutConstructor - класс, который нужно реализовать
                d_editor: new LayoutConstructor(),
            }
        },
        methods: {}
    }
</script>

<style scoped lang="scss">
    .app {
        display: flex;
        min-height: 100vh;
        align-items: stretch;
    }

    .sidebar {
        min-width: 250px;
        background: #2d2d2d;
    }

    .sidebar__list {
        list-style: none;
        margin: 0;
        padding: 0;
        position: fixed;
    }

    .sidebar__item a {
        display: block;
        padding: 15px;
        color: white;
    }

    .content {
        width: 100%;
        padding: 15px;
    }
</style>
