<template>
    <div class="content" ref="content">
        <component v-for="(component, idx) in editor.components"
                   :key="idx"
                   :is="component.name"
                   v-bind="component.props"

        ></component>
    </div>
</template>

<script>
    import ImgComponent from "./ImgComponent";
    import TextComponent from "./TextComponent";

    export default {
        name: "CanvasComponent",
        components: {ImgComponent, TextComponent},
        props: ['editor'],
        data() {
            return {}
        },
        mounted() {
            this.editor.subscribeToPlace(this.handleComponentPlacing);

            document.addEventListener('click', (e) => {
                console.log([e.pageX, e.pageY]);
                if (e.target === this.$refs['content']) {
                    this.editor.components.forEach(item => item.props.active = false);
                }
            });
        },
        methods: {
            handleComponentPlacing(component) {
                // this.$refs.content.appendChild(component.$el);
            },
            handleClick(component, arr) {
                arr.forEach(item => item.props.active = false);
                component.props.active = !component.props.active;
            },
            deleteComponent(index){
                if (component.props.active){
                    this.editor.components.splice(index,1);
                }

            }
        },
    }
    /*
    *  :class="{active:component.props.active}"
                   @click.native="handleClick(component, editor.components)"*/
</script>

<style scoped lang="scss">
    .content{
        position: relative;
    }
</style>
