<template>
    <base-container>
        <img :src="src" alt="" style="width: 100%;height: 100%;">
    </base-container>
</template>

<script>
    import BaseContainer from "./BaseContainer";

    export default {
        name: "ImgComponent",
        components: {BaseContainer},
        props: ['editor', 'src', 'active'],
        data() {
            return {
                d_src: this.src || null,
                d_active: this.active || false,
            }
        },
        methods: {},
    }
</script>

<style scoped lang="scss">
</style>
