<template>
    <div>
        <text/>
    </div>
</template>

<script>
    export default {
        name: "Page1",
        data() {
            return {}
        }
    }
</script>

<style scoped lang="scss">

</style>
