<template>
    <div class="attachment"
         @click.prevent="open"
    >
        <div class="attachment__thumbnail"
             :style="c_thumbnailStyle"
             v-if="c_isEmbed"
             v-html="attachment.original"
        ></div>
        <div class="attachment__thumbnail"
             :style="c_thumbnailStyle"
             :data-gallery="gallery"
             ref="thumbnail"
             v-else
        >
            <img :alt="attachment.alt"
                 v-if="c_thumbnail"
                 :src="c_thumbnail"
            />
            <template
                v-else
            >{{ c_extension }}
            </template>
            <slot></slot>
        </div>
        <div class="attachment__name"
             v-if="showName"
        >{{ attachment.name }}
        </div>
    </div>
</template>

<script>
    import Swiper from 'swiper/js/swiper.min';
    import downloadFile from "@/js/common/file-transfer/downloadFile";

    export default {
        name: "Attachment",
        components: {},
        props: {
            attachment: {
                default() {
                    return null;
                }
            },
            showName: {
                default() {
                    return false;
                }
            },
            width: {
                default() {
                    return '100%';
                }
            },
            height: {
                default() {
                    return '100%';
                }
            },
            gallery: {
                default() {
                    return null;
                },
            }
        },
        data() {
            return {
                d_expand: false,
                d_swiper: null,
                d_popup: null,
            }
        },
        computed: {
            c_isFile() {
                if (!this.attachment) return null;

                return !this.c_isEmbed && !this.c_isImg;
            },
            c_isImg() {
                if (!this.attachment) return null;

                return ['image/gif', 'image/jpeg', 'image/svg', 'image/svg+xml', 'image/png']
                    .indexOf(this.attachment.type) > -1;
            },
            c_isEmbed() {
                if (!this.attachment) return null;
                return ['embed'].indexOf(this.attachment.type) > -1;
            },
            c_extension() {
                if (!this.attachment/* || !this.attachment.original*/) return null;

                let arr = this.attachment.original.split('.');
                return arr[arr.length - 1];
            },
            c_thumbnail() {
                if (!this.attachment) return null;

                if (this.attachment.thumbnail) {
                    return this.attachment.thumbnail;
                } else if (this.c_isImg) {
                    return this.attachment.original;
                }
                return null;
            },
            c_showExtension() {
                return !this.c_thumbnail && !this.c_isEmbed;
            },
            c_thumbnailStyle() {
                return {
                    width: `${this.width}`,
                    height: `${this.height}`,
                };
            },
        },
        methods: {
            open() {
                if (this.c_isFile) {
                    downloadFile(this.attachment.url, this.attachment.name);
                    return;
                }

                this.d_expand = true;
                this.d_popup = document.createElement('div');
                this.d_popup.className = 'attachment-popup';
                window.document.body.appendChild(this.d_popup);

                this.$nextTick(() => {
                    if (this.gallery) {
                        let otherSlides = document.querySelectorAll(`[data-gallery=${this.gallery}]`)
                        if (otherSlides.length) {
                            let swiperWrapper = document.createElement('div');
                            swiperWrapper.className = 'swiper-wrapper';
                            for (let slide of otherSlides) {
                                const clone = slide.cloneNode(true);
                                clone.style.width = '';
                                clone.style.height = '';
                                clone.classList.toggle('attachment-popup__item', true);
                                let slideDiv = document.createElement('div');
                                slideDiv.className = 'swiper-slide';
                                slideDiv.appendChild(clone);
                                swiperWrapper.appendChild(slideDiv);
                            }

                            let swiperContainer = document.createElement('div');
                            swiperContainer.className = 'swiper-container attachment-popup__swiper-container';
                            swiperContainer.appendChild(swiperWrapper);

                            this.d_popup.innerHTML += `<button class="attachment-popup__prev fal fa-arrow-left" type="button"/>
                                <button class="attachment-popup__next fal fa-arrow-right" type="button"/>`;
                            this.d_popup.appendChild(swiperContainer);
                            this.d_swiper = new Swiper(swiperContainer, {
                                navigation: {
                                    prevEl: '.attachment-popup__prev',
                                    nextEl: '.attachment-popup__next',
                                },
                                slidesPerView: 1,
                            });
                        }
                    } else {
                        let clone = this.$refs.thumbnail.cloneNode(true);
                        clone.style.width = '';
                        clone.style.height = '';
                        clone.className = 'attachment-popup__item'
                        this.d_popup.appendChild(clone);
                    }
                    const closeBtn = document.createElement('button');
                    closeBtn.className = 'attachment-popup__close';
                    closeBtn.type = 'button';
                    closeBtn.innerHTML = '&times;';
                    closeBtn.addEventListener('click', () => {
                        this.hide();
                    });
                    this.d_popup.appendChild(closeBtn);
                    this.d_popup.addEventListener('click', (event) => {
                        if (event.target == this.d_popup)
                            this.hide();
                    });
                    // this.$refs.popup.parentNode.removeChild(this.$refs.popup);
                });
            },
            hide() {
                if (this.d_swiper)
                    this.d_swiper.destroy();
                this.d_popup.remove();
                this.d_expand = false;
            },
        }
    }
</script>

<style scoped lang="scss">
    .attachment {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-decoration: none;

        &:hover:before {
            opacity: 1;
        }

        &:hover:after {
            top: 0;
        }

        &:before {
            transition: opacity 0.3s;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            z-index: 1;
            border-radius: 10px;
        }

        &:after {
            transition: top 0.3s;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 100%;
            background: url("/images/icons/zoom.svg") no-repeat center;
            z-index: 2;
        }
    }

    .attachment__name {
        margin-left: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .attachment__thumbnail:not(.attachment-popup__item) {
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        flex-shrink: 0;
        background-color: #eeeeee;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        color: #8575ff;
        box-shadow: 0 0 0 1px #dfdfdf;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &:before {
            content: "";
            background: black;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.1s ease-in;
            opacity: 0;
        }

        ::v-deep iframe {
            width: 100% !important;
            height: 100% !important;
        }
    }

    /*.attachment__embed {*/
    /*    height: 100%;*/

    /*    &::v-deep iframe {*/
    /*        width: 100% !important;*/
    /*        height: 100% !important;*/
    /*    }*/
    /*}*/


</style>

<style lang="scss">
    @import "~@/sass/_variables.scss";

    .attachment-popup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000000e8;
        z-index: 100;
        padding: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(md) {
            padding: 0;
        }

        .attachment-popup__swiper-container {
            width: 100%;
            /*height: 100%;*/

            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: center;
            }

        }

        .attachment-popup__item {
            iframe {
                width: 100%;
                max-height: 100%;
            }

            img {
                width: 100%;
                object-fit: contain;
                max-height: 100%;
            }
        }

        .attachment-popup__prev, .attachment-popup__next {
            background: none;
            border: none;
            outline: none !important;
            font-size: 45px;
            width: 50px;
            transition: transform 0.1s ease-in;
            color: #a17aff;
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 5;
            left: 25px;
            height: 50px;
            margin: auto;

            &:hover {
                color: white;
                transform: scale(1.1);
            }

            &.swiper-button-disabled {
                opacity: 0.2;
            }
        }

        .attachment-popup__next {
            left: auto;
            right: 25px;
        }

        .attachment-popup__close {
            position: absolute;
            top: 15px;
            right: 15px;
            background: none;
            outline: none;
            color: white;
            font-weight: 100;
            cursor: pointer;
            opacity: 0.5;
            font-size: 36px;
            line-height: 18px;
            border: 1px solid white;
            border-radius: 50%;
            padding: 8px 9px 10px 9px;
            z-index: 5;

            &:hover {
                opacity: 1;
            }
        }
    }
</style>
