<template>
    <transition-collapse
        @afterLeave="handleAfterLeave">
        <div v-if="d_show">
            <div class="message message_danger">
                <div class="font-weight-bold">{{error.data.message}}</div>
                <ul class="m-0 p-0 pl-3"
                    v-for="(errors, key) in c_errors">
                    <li v-for="error in errors">{{error}}</li>
                </ul>
                <slot/>
            </div>
        </div>
    </transition-collapse>
</template>

<script>
    import TransitionCollapse from "./TransitionCollapse";

    export default {
        name: "FormErrors",
        components: {TransitionCollapse},
        props: ['error'],
        data() {
            return {
                d_show: false,
            }
        },
        computed: {
            c_errors() {
                return this.error.data.errors;
            }
        },
        mounted() {
            this.d_show = true;
        },
        methods: {
            handleAfterLeave() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped lang="scss">
</style>
