<template>
    <div>
        <button @click="handleClick" type="button">text</button>
    </div>
</template>

<script>
    export default {
        name: "TextBtn",
        props: ['editor'],
        data(){
            return{
                i:0,
            }
        },
        methods:{
            handleClick() {

                /*
                * remove i in data, "if (this.i<text.length)","this.i++;", change "text: text[this.i]" to "text: text"
                * replace "const text = ['urls']" with "const text = window.prompt('img text');"
                * */
                const text = [
                    'text1',
                    'text2',
                    'text3',
                    'text4',
                    'text5',
                    'text6',
                    'text7',
                ];
                if  (this.i<text.length){
                    this.editor.place({
                        name: 'TextComponent',
                        props: {
                            editor: this.editor,
                            text: text[this.i],
                            active: false,
                        }
                    });
                    this.i++;
                }
            },
        },
    }
</script>

<style scoped>

</style>
