<template>
    <aside class="sidebar">
        <ul class="sidebar__list">
            <text-btn class="sidebar__btn" :editor="editor"/>
            <img-btn class="sidebar__btn" :editor="editor"/>
        </ul>
    </aside>
</template>

<script>
    import TextBtn from "./buttons/TextBtn";
    import ImgBtn from "./buttons/ImgBtn";
    export default {
        name: "Sidebar",
        components: {ImgBtn, TextBtn},
        props: ['editor'],
    }
</script>

<style scoped>

</style>
